.small-card-container{
    width: 700px;
    display: flex;
}

.small-card-container .titulo h2{
    height: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-card-container .imagem img{
    width: 200px;
    height: 100px;
    margin-right: 20px;
}

.divider{
    margin: 10px 0;
}
