.menu-container{
    color: white;
}

.menu-container h1{
    margin: 10px 0;
    font-weight: bold;
    font-size: 130px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.menu-container hr{
    margin: 20px 0;
}