<div class="content-container">
    
    <div class="content-title">
        <h1 class="main-title">{{conteudoTitulo}}</h1>
<br>
        <h2>A nova apresentação de Space Marine II foca no cooperativo para até três jogadores.</h2>
    </div>

    <div class="content-description">
        <p class="description">
            Jogo <strong>Warhammer 40k: Space Marines 2:</strong> Desenvolvido pela Saber Interactive e publicado pela Focus Entertainment, recebeu um novo trailer focado na campanha cooperativa para até três jogadores. No vídeo, também foi confirmado que o jogo chegará no inverno de 2023.
            <br> <br>
            Confira abaixo a sinopse do título:
        </p>
        <br>

        <div class="sinopse">
            <p>
                A galáxia está em perigo. Planetas inteiros estão sendo destruídos. O Império precisa de você.
            </p>
            <br>
            <p>
                Encarne a habilidade sobre-humana e a brutalidade de um Space Marine, os maiores guerreiros do Imperador. Liberte perícias mortais e um arsenal de armas devastadoras para aniquilar as incansáveis hordas tirânidas.
            </p>
            <br>
            <p>
                Detenha os horrores da galáxia em épicas batalhas em planetas longínquos. Descubra segredos sombrios e afugente a noite eterna para provar sua lealdade suprema à humanidade.
            </p>
            <br>
            <p>
                Ouça o chamado da batalha.
                Pois guerra é tudo o que há.
            </p>
        </div>

        <span>Confira o trailer abaixo!</span>
    </div>

    <div class="content-cover">   
        <iframe width="900" height="515" src="https://www.youtube.com/embed/oDXfraIHzHg?si=C3_PPI6SG44kpyHK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <div class="back-button">
            <a [routerLink] = "['']"><<< VOLTAR</a>
        </div>
    </div>